@charset "UTF-8";
body{
    font-family: menlo,monospace, Tahoma,"微软雅黑","幼圆";
    color: #495057;
    font-size: 14px;
}
i{
  margin:auto 5px;
}
a{
    display: inline-block;
    text-decoration: none;
    color: #4285f4;
    cursor:pointer;
}
a:hover{
    text-decoration: none;
    color: #44A6F8;
}
.header{
    border-bottom: solid 1px #E5EBEE;
    padding: 0px;
    background: #fff;
    box-shadow: 0 0px 1px #eee;
}
.footer{
    padding:20px;text-align:center;color:#999;
}
.logo{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #13C48B;
    padding: 10px;
}
.logo:hover{
    color: #41DFC4;
}
.navi{
    padding:5px 20px;
    font-size:14px;
    font-weight:bold;
    font-family:monospace,'微软雅黑';
}
.navi a{
    padding: 0px 20px;
    color: #4A5560;
}

.navi a:hover{
    color: #888;
}
.main{
    margin-top:40px auto;
    width: 90%;
    background-color: #fff;
}
