@charset "UTF-8";
body{
    font-family: menlo;
    color: #4A5560;
    font-size: 12px;
    background-color: #F6F7FB;
}
a{
    display: inline-block;
    text-decoration: none;
    font-family: Menlo,Monaco,Consolas;
    color: #1BAAE4;
    cursor:pointer;
}
a:hover{
    text-decoration: none;
    color: #47A7E6;
}
.header{
    border-bottom: solid 1px #E5EBEE;
    padding: 0px;
    background: #fff;
}
.footer{
    padding:20px;text-align:center;color:#999;
}
.logo{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #0fd59d;
    padding: 10px;
}
.logo:hover{
    color: #0fd59d;
}
.navi{
    padding:5px 20px;
    font-size:12px;
    font-weight:bold;font-family:Menlo,Monaco,Consolas,"Courier New",monospace, "Helvetica Neue",Helvetica,Arial,sans-serif,'骞煎渾';
}
.navi a{
    padding: 0px 20px;
    color: #4A5560;
}
.tool a{
    padding: 0px 20px;
    color: #999;
}
.navi a:hover{
    color: #888;
}
