.green{
    color:#00BC7C;

}
.green-light{
    color:#41DFC4;
}
.green-deep{
    color:#34a853;
}
.red{
    color:#FF585D;
}
.red-light{
    color:#FF65AA;
}
.red-hot{
    color:#FF1B65;
}
.pink{
    color:#FF6CAF;
}
.blue{
    color:#4285f4;
}
.blue-light{
    color:#24C1F4;
}
.blue-deep{
    color:#4285f4;
}
.purple{
    color:#927DF3;
}
.purple-light{
    color:#8274F6;
}
.yellow{
    color: #FFC147;
}
.yellow-light{
    color:#FFC052;
}
